<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel='stylesheet' href="indreex.css">
            <link rel='stylesheet' href="animate.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	        <link rel="stylesheet" href="indreex.css">
            <link rel="stylesheet" href="form/index.css">
            <link rel="stylesheet" href="css/index.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="icon" href="icons/logo1-восстановлено.png">
            <link rel="stylesheet" href='frames/smoke-pure.css'>
             <link rel="stylesheet" href="animate.css">
        {% endblock %}

        <style>
            .tab {
                
            }
            body {
          
                background-color: initial;
            }
            .logBtn {
                width: 100%;
                background: #eec111;
                padding: 10px 20px;
                border: none;
                font-size: 14px;
                font-weight: bold;
                color: #fff;
                border-radius: 20px;
                text-transform: uppercase;
                margin: 60px 0 30px 0;
            }
        </style>
       
    </head>
    <body>
        {% block body %}{% endblock %}


        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
            <script src='frames/smoke-pure.js' ></script>
            <!-- ANIMATION -->
           
            <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

            <script src="script.js"></script>	
    {% endblock %}
    </body>
</html>
