<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome {% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel='stylesheet' href="indreex.css">
            <link rel='stylesheet' href="animate.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	        <link rel="stylesheet" href="indreex.css">
            <link rel="stylesheet" href="form/index.css">
            <link rel="stylesheet" href="css/index.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="icon" href="icons/logo1-восстановлено.png">
            <link rel="stylesheet" href='frames/smoke-pure.css'>
             <link rel="stylesheet" href="animate.css">
        {% endblock %}

       
    </head>
    <body>
    <div class="preloader" id="preloader">
		
		<div id="fountainTextG">
			<div id="fountainTextG_1" class="fountainTextG">З</div>
			<div id="fountainTextG_2" class="fountainTextG">а</div>
			<div id="fountainTextG_3" class="fountainTextG">г</div>
			<div id="fountainTextG_4" class="fountainTextG">р</div>
			<div id="fountainTextG_5" class="fountainTextG">у</div>
			<div id="fountainTextG_6" class="fountainTextG">з</div>
			<div id="fountainTextG_7" class="fountainTextG">к</div>
			<div id="fountainTextG_8" class="fountainTextG">а</div>
		</div>

	</div> <!-- /preloader -->
        <header class="sticky-top">

		<nav class="navbar navbar-expand-lg navbar-light" id="menu">
			
			<!-- LOGO -->
			<a href="{{ path('home') }}" onclick="return up()" class="logo-header mostion"><img class="axilium-logo" src="icons/logo1-восстановлено.png" alt="logo" width="70" height="45"></a>
			
			<!-- COLLAPSE BTN -->
			<div class="navbar_container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Togglenavigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>

			<!-- NAVIGATION -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav mr-auto">

					<li class="nav-item active">
						<a href="#" onclick="return up()" class="nav-link">Home</a>
					</li>

					<li class="nav-item">
						
					</li>

					<li class="nav-item dropdown">

						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							fundraising
						</a>

						<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<li>
								<a href="#recomended" class="dropdown-item">
									<i class="icon-star-empty"></i>
									<span>Recommended</span>
								</a>
							</li>
							
							<li>
								<a href="#popular" class="dropdown-item">
									<i class="fa fa-users"></i>
									<span>Popular</span>
								</a>
							</li>
						</ul>
						
					</li>						
					
				</ul>
				
			</div>

			<!-- ADD BTN -->			
			<div class="extra-nav" >
               <!-- <button class="menu-item menu-green" onclick='smoke.alert ("<h1>Axilium</h1><br/> Ой, вы не авторизованы! Войдите в свой аккаунт или зарегистрируйтесь.");'style="width:auto;">
					<i class="icon-plus"></i>
					Collect on Axilium
				</button> -->
             <a href='form/'>
             <button class="menu-item menu-green"style="width:auto;">
					<i class="icon-plus"></i>
					Collect on Axilium
				</button></a>
				{% block  forms %}
				<div id="id01" class="modal">

					<div class="col-md-offset-3 col-md-6" style='margin-left:25%;'>

						<div class="tab" role="tabpanel">

							<ul class="nav nav-tabs" role="tablist">

								<li role="presentation" id="sign_in" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">sign in</a></li>
								<li role="presentation" id="sign"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">sign up</a></li>

							</ul>

							<div class="tab-content tabs">
							
							<div role="tabpanel" class="tab-pane fade in active show" id="Section1">
								
								<form class="form-horizontal" action='' method='POST'>
								
									<div class="form-group">
									
										<label for="exampleInputEmail1">Email</label>
										<input type="email" class="form-control" id="exampleInputEmail1" name='uname' required>
										
									</div>
									
									<div class="form-group">
										<label for="exampleInputPassword1">Password</label>
										<input type="password" class="form-control" id="exampleInputPassword1" name='haslo' required>
									</div>
									
									<div class="form-group">
										
										
									
									</div>
									
									<div class="form-group">
										<input type="submit" class="btn btn-default" name='login' value='sign in'>
									</div>
									
									
								
								</form> <!-- /form -->
							      <div class="form-group forgot-pass">
                                      <button onclick="smoke.prompt('Введите свой email. Вы получите письмо с подтверждением на свою почту', function(result){window.location.href = 'reset.php?token='+result;})" class="btn btn-default" style='color:grey'>Forgot password ?</button>
									</div>  
							</div>
							
							<div role="tabpanel" class="tab-pane fade" id="Section2">
								
								<form class="form-horizontal" action='' method="POST">
									
									<!--<div class="form-group">
										<label for="exampleInputEmail1">First Name</label>
										<input type="text" class="form-control" id="exampleInputEmail1" name='fname' required >
									</div>-->
						
									
									{{ form(form) }}
								
								</form> <!-- /form -->
							
							</div>
						
						</div> <!-- /tab-content -->

						</div> <!-- /tab -->

					</div><!-- /.col-md-offset-3 col-md-6 -->

				</div> <!-- /modal -->{% endblock %}

			</div>
        <button class="site-button pull-right m-t15 login" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

			

			
			

		</nav>
		
	</header> <!-- /HEADER -->
       {% block body %}{% endblock %}
    </body>
     {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
            <script src='frames/smoke-pure.js' ></script>
            <!-- ANIMATION -->
           
            <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

            <script src="script.js"></script>	
    {% endblock %}
</html>