{% extends 'public/base.html.twig' %}
{% block body %}
	


<!-- MAIN IMG -->
	<div id="home" class="block">
		
		<div class="container home">
			
			<h1 class="wow fadeInDown" data-wow-delay="0.1s">Welcome on Axilium</h1>
			<h3 id="example">crowdfunding web portal</h3>

		</div> <!-- /container -->
		
	</div> <!-- /MAIN IMG -->
	
	<!-- ABOUT -->
	<!-- SERVICE -->
	<section id="service" class="gray_bg section_padding pb_70">
		
		<div class="container">
			
			<div class="row text-center">
				
				<div class="col-lg-4 col-sm-6 col-xs-12">
					
					<div class="single-service wow slideInLeft">
						<div class="service_icon">
							<i class="fa fa-dollar"></i>
						</div>
						<h4>Fundraising</h4>
						<p>Present the idea of ​​your project and enlist the support of sponsors.</p>
					</div>

				</div> <!-- End Col -->
				
				<div class="col-lg-4 col-sm-6 col-xs-12">
					
					<div class="single-service wow slideInUp">
						<div class="service_icon">
							<i class="fa fa-pagelines"></i>
						</div>
						<h4>Development</h4>
						<p>Develop your idea, invest the funds received and attract new people.</p>
					</div>

				</div> <!-- End Col -->						
				
				<div class="col-lg-4 col-sm-6 col-xs-12">
					
					<div class="single-service wow slideInRight">
						<div class="service_icon">
							<i class="fa fa-users"></i>
						</div>
						<h4>Communication</h4>
						<p>Find like-minded people and work together to make your dreams come true.</p>
					</div>

				</div> <!-- End Col -->

			</div> <!-- /row -->

		</div> <!-- /container -->
		
	</section> <!-- /SERVICE -->

	<!-- INFO -->
	<section id="info" class="section section-lg info" >
		
		<div class="container fluid info">
			
			<div class="row info">
				
				<div class="col col-xs-12 text" style="background-image: url(icons/img/dol.png)">
					<div class="text_img wow fadeIn"  data-wow-delay="0.2s">
						<p>Interest people<br>your idea, <br>gather sponsors, <br>talk about it, <br>what you do, <br>involve others
 <br>people in your business :)</p>
					</div>
				</div>
				
				<div class="col col-xs-12 img">
					<p class="photo_center"><img class="img-fluid" src="icons/img/frame1_cut.jpg" alt="Frame1"></p>
				</div>

			</div> <!-- /row -->

		</div> <!-- /container -->

	</section> <!-- /INFO -->
	

	<section id="info_second" class="section section-lg info second" style="margin-top:0%;">
		
		<div class="container fluid info second">
			
			<div class="row info second">
				
				<div class="col col-xs-12 text second" style="background-image: url(icons/img/gora.png)">
					<div class="text_img second wow fadeIn" data-wow-delay="0.2s">
						<p>Also invest in<br>ideas you liked, <br>share them with friends,<br>support conception <br>others. Communicate directly <br>with the founders
, <br>and evaluate
 <br>their hard work :)</p>
					</div>
				</div>
				
				<div class="col col-xs-12 img second">
					<p class="photo_center second"><img class="img-fluid" src="icons/img/frame2.jpg" alt="Frame2"></p>
				</div>

			</div> <!-- /row -->

		</div> <!-- /container -->

	</section> <!-- /INFO_SECOND -->

{% endblock %}