{% extends 'public/base.html.twig' %}
{% block body %}
	


<!-- MAIN IMG -->
	<div id="home" class="block">
		
		<div class="container home">
			
			<h1 class="wow fadeInDown" data-wow-delay="0.1s">Ласкаво просимо на Axilium</h1>
			<h3 id="example">веб портал для збору коштів</h3>

		</div> <!-- /container -->
		
	</div> <!-- /MAIN IMG -->
	
	<!-- ABOUT -->
	<!-- SERVICE -->
	<section id="service" class="gray_bg section_padding pb_70">
		
		<div class="container">
			
			<div class="row text-center">
				
				<div class="col-lg-4 col-sm-6 col-xs-12">
					
					<div class="single-service wow slideInLeft">
						<div class="service_icon">
							<i class="fa fa-dollar"></i>
						</div>
						<h4>Збір Коштів</h4>
						<p>Презентуйте ідею свого проекту та заручіться підтримкою спонсорів.</p>
					</div>

				</div> <!-- End Col -->
				
				<div class="col-lg-4 col-sm-6 col-xs-12">
					
					<div class="single-service wow slideInUp">
						<div class="service_icon">
							<i class="fa fa-pagelines"></i>
						</div>
						<h4>Розвиток</h4>
						<p>Розвивайте свою ідею, інвестуйте отримані кошти та залучайте нових людей.</p>
					</div>

				</div> <!-- End Col -->						
				
				<div class="col-lg-4 col-sm-6 col-xs-12">
					
					<div class="single-service wow slideInRight">
						<div class="service_icon">
							<i class="fa fa-users"></i>
						</div>
						<h4>Комунікація</h4>
						<p>Знаходьте однодумців та працюйте разом для здійснення ваших мрій.</p>
					</div>

				</div> <!-- End Col -->

			</div> <!-- /row -->

		</div> <!-- /container -->
		
	</section> <!-- /SERVICE -->

	<!-- INFO -->
	<section id="info" class="section section-lg info" >
		
		<div class="container fluid info">
			
			<div class="row info">
				
				<div class="col col-xs-12 text" style="background-image: url(icons/img/dol.png)">
					<div class="text_img wow fadeIn"  data-wow-delay="0.2s">
						<p>Зацікавте людей<br>своєю ідеєю, <br>зберіть спонсорів, <br>розповідайте про те, <br>що ви робите, <br>залучайте інших <br>людей у вашу справу :)</p>
					</div>
				</div>
				
				<div class="col col-xs-12 img">
					<p class="photo_center"><img class="img-fluid" src="icons/img/frame1_cut.jpg" alt="Frame1"></p>
				</div>

			</div> <!-- /row -->

		</div> <!-- /container -->

	</section> <!-- /INFO -->
	

	<section id="info_second" class="section section-lg info second" style="margin-top:0%;">
		
		<div class="container fluid info second">
			
			<div class="row info second">
				
				<div class="col col-xs-12 text second" style="background-image: url(icons/img/gora.png)">
					<div class="text_img second wow fadeIn" data-wow-delay="0.2s">
						<p>Інвестуйте також в<br>ідеї, які вам сподобались, <br>діліться ними з друзями,<br>підтримуйте зачинання <br>інших. Спілкуйтесь напряму <br>з засновниками, <br>та оцінюйте <br>їхню тяжку роботу :)</p>
					</div>
				</div>
				
				<div class="col col-xs-12 img second">
					<p class="photo_center second"><img class="img-fluid" src="icons/img/frame2.jpg" alt="Frame2"></p>
				</div>

			</div> <!-- /row -->

		</div> <!-- /container -->

	</section> <!-- /INFO_SECOND -->

{% endblock %}